body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
header{
    width: 1100px;
    height: 100px;
    border: 5px solid #ffb4fb;
    margin-left: auto;
    margin-right: auto;
}
#nav_main{
    text-align: center;
}
#nav_esq, #nav_dir{
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;

}
#nav_esq a, #nav_dir a{
    padding: 5px;
    font-weight: 600;
    text-decoration: none;
    color: black;

}

#nav_esq a:hover, #nav_dir a:hover{
    color: rgb(243, 159, 232);
    transition: all 0.3s;

}
.menu_atual{
    color: rgb(243, 159, 232) !important;

}
#nav_logo{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ad58ab;
    margin-top: 20px;
 }
main{
    width: 85%;
    height: 1000px;
    border: 5px solid #db8fd9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 1100px;
    height: 1000px;
    background-color: #f7b0f4;
    margin-left: auto;
    margin-right: auto;
}
main div{
    display: inline-block;
    background-color: #db8fd9;
    width: 100px;
    height: 100px;
    margin: 40px;
}